.about-page {
    display: flex;
    flex-direction: column;
    padding: 10vh 5vw;
    font-size: 1.5rem;
    height: calc(100vh - 20vh);
    background-image: url('../images/background-img6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.about {
    width: 50%;
}

.grad-img {
    width: 55%;
    height: auto;
    margin-top: -35vh;
    margin-left: 60vw;
}

.one-piece-img {
    margin-top: -20vh;
    width: 30%
}

@media (min-width: 1920px) {
    .grad-img {
        margin-top: -25vh;
        margin-left: 55vw;
    }
    .one-piece-img {
        margin-top: -15vh;
        width: 25%;
    }
}

/* Media query for screens between 1440px and 1920px */
@media (min-width: 1440px) and (max-width: 1920px) {
    .about {
        margin-top: -6vh;
    }
    .grad-img {
        margin-top: -42vh;
        margin-left: 58vw;
    }
    .one-piece-img {
        margin-top: -24vh;
        width: 28%;
    }
}

/* Media query for screens smaller than 1440px */
@media (max-width: 1440px) {
    .grad-img {
        margin-top: -20vh;
        margin-left: 52vw;
        width: 50%;
    }
    .one-piece-img {
        margin-top: -12vh;
        width: 35%;
    }
}