.experience-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 0.5vw;
    height: 92vh;
    padding: 4vh;
    background: url('../images/background-img6.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 5vh;
    height: 34vh;
    padding: 2vh;
    padding-bottom: 3vh;
    width: 25vw;
  }
  
  .card h3, .card h4, .card p {
    margin: 0.7vh 0;
  }

  .description-item {
    margin: 10px 0;
    white-space: pre-line; /* Ensure line breaks are preserved */
  }

  .work-images {
    width: 25%; /* Adjust as needed */
    height: auto;
    margin-top: 1rem;
    margin-left: 26rem;
  }


/* For screens between 1440px and 1920px */
@media (min-width: 1440px) and (max-width: 1920px) {
    .card {
        font-size: 1.3ch;
        width: 28vw;
    }
    .work-images {
        margin-top: 1vh;
        width: 28%;
        margin-left: 24rem;
    }
}

/* For screens smaller than 1440px */
@media (max-width: 1440px) {
    .card {
        width: 40vw;
        height: auto; /* Allow height to adjust based on content */
        margin-top: 4vh;
    }
    .work-images {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }
}