.background {
    height: calc(100vh);
    background-image: url('../images/background-img6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.home-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 24vh 12vw;
    font-size: 1.5rem;
}


.personal-img {
    max-width: 100%;
    height: auto;
    margin-top: -35vh;
    margin-left: 50vw;
}

.text {
    margin-left: -8vw;
}


